body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('../img/back2.jpg');
    background-size: cover;
    background-attachment: fixed;

}
main{

    position: absolute;
    background: rgba(255, 255, 255, 0.1);
    color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    max-width: 500px;
    min-width: 250px;
    max-height: 500px;
    min-height: 300px;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid rgba(255, 255, 255, 0);
    box-shadow: 0px 0px 10px rgba(3, 3, 3, 0.459);
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    
    
}
h1{
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.24);
    font-size: 2.4em;
}
p{
    text-shadow: 2px 2px 3px rgba(37, 37, 37, 0.363);
    padding: 30px;
}

span{
    margin: auto;
}

a#sim{
    padding: 15px;
    font-size: 1em;
    margin-right: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to right, rgb(255, 0, 221) ,transparent);
    transition-duration: 0.2s;
}
a#sim:hover{
    background-image: linear-gradient(to left, rgb(2, 245, 14) ,transparent);
    box-shadow: 2px 0px 3px rgb(21, 255, 0);;
    color: black;
    font-weight: bold;

}

a#nao{
    padding: 15px;
    font-size: 1em;
    margin-left: 20px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    background-image: linear-gradient(to left, rgb(255, 0, 221) ,transparent);
    transition-duration: 0.3s;
}
a#nao:hover{
    color: black;
    background-image: linear-gradient(to right, rgb(176, 2, 245) ,transparent);
    box-shadow: -2px 0px 3px rgb(176, 2, 245);
    font-weight: bold;

}

